
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            Reporte
        </div>
        <div class="card-body">
            
            <canvas id="chart1" width="100" height="50"></canvas>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/Chart.js/chart.js"></script>
    <script src="~/js/Rep/CicloEscolar.js"></script>
    <script>
        $(document).ready(function () {
            GradoSeccion();
        });
    </script>

}