@model SistemaIEBCE.Models.Catedratico

@{
    ViewData["Title"] = "Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/ProfileCardHover.css" rel="stylesheet" />
<link href="~/css/verPerfil.css" rel="stylesheet" />


<section class="mt-lg-5">
    <div class="container1">
        <div class="contactInfo">
            <div>
                <h2>Catedrático</h2>
                <ul class="info">
                    <li>
                        <span>
                            @if (Model.Sexo == "M")
                            {
                                <img src="~/img/Man_Teacher.svg" />
                            }
                            else
                            {
                                <img src="~/img/Woman_Teacher.svg" />
                            }
                        </span>
                    </li>
                    <li><button onclick="javascript: history.go(-1)"> <i class="fa-solid fa-arrow-left"></i> Volver</button></li>
                </ul>
            </div>
        </div>
        <div class="contactForm">
            <h2>Información del Catedrático</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input asp-for="NomCatedratico" disabled />
                    <span>Nombres</span>
                </div>
                <div class="inputBox w50">
                    <input asp-for="ApellCatedratico" disabled />
                    <span>Apellidos</span>
                </div>
                <div class="inputBox w50">
                    <input asp-for="Sexo" disabled />
                    <span>Sexo</span>
                </div>
                <div class="inputBox w50">
                    <input asp-for="Tel" disabled />
                    <span>Teléfono</span>
                </div>
                <div class="inputBox w100">
                    <input asp-for="Profesion" disabled />
                    <span>Profesion</span>
                </div>
                <div class="inputBox w50">
                    <input id="est" asp-for="Estado" hidden />
                    <input id="eee" disabled />
                    <span>Estado</span>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    let inputValue = document.getElementById("est").value;

    if (inputValue == 1) {
        document.getElementById("eee").value = "Activo";
    }
    else {
        document.getElementById("eee").value = "Inactivo";
    }

</script> 