@model SistemaIEBCE.Models.ViewModels.AsigEstudianteVM

@{
    ViewData["Title"] = "CreateAsistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-white p-4 mt-5">
    <div class="row mb-3">
        <div class="col-6">
            <h2>Listado de Estudiantes</h2>
        </div>
        <div class="col-6 text-right">
            <label class="h6">Fecha</label>
            <input type="date" id="dateAsis" name="fecha" class="fecha mx-3" value="datetime.now" />
            <button class="guardar bg-primary text-white" onclick="RegistrarAsis(@ViewData["idBlkAsCu"])" type="submit">Guardar</button>
        </div>
    </div>
    
    <table id="listEstuAsis" class="display table  table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>IdAsEs</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>

            @*<tr>
                    <td>Tiger Nixon</td>
                    <td><input type="text" id="row-1-age" name="row-1-age" value="61"></td>
                </tr>*@
        </tbody>
    </table>
</div>

@section Scripts{

    <script src="~/js/Asistencia.js"></script>


    <script>

        $(document).ready(function () {
            //fecha actual
            document.getElementById('dateAsis').valueAsDate = new Date();

            //guardar asis
            cargarDatatableLsEstAs(@ViewData["idBlkAsCu"], @ViewData["IdCicloEscolar"], @ViewData["IdAsigCurso"]);

        });
    </script>

}

