
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="p-2 my-3 text-center">Secretaría IEBCE</h1>

<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="Estudiante" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 70 80">
                                        <path id="Trazado_422" data-name="Trazado 422" d="M34.13,12.461l1,.234v9.141a3.608,3.608,0,0,0-.137,6.25l-2.441,9.727C32.273,38.891,32.88,40,33.739,40h6.523c.859,0,1.465-1.113,1.191-2.047l-2.441-9.859A3.745,3.745,0,0,0,40.75,25a3.69,3.69,0,0,0-1.875-3.164V13.614L47,15.567V25A19.93,19.93,0,1,0,86.86,25L87,15.566l12.852-3.1a2.485,2.485,0,0,0,0-4.922L70.1.352a13.809,13.809,0,0,0-6.192,0L34.128,7.539A2.488,2.488,0,0,0,34.13,12.461Zm49,36.414L67,65,50.875,48.875A27,27,0,0,0,32,74.578,5.417,5.417,0,0,0,37.417,80H96.589A5.412,5.412,0,0,0,102,74.578,27.006,27.006,0,0,0,83.125,48.875Z" transform="translate(-32)" fill="#161e35" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-nowrap text-primary">Estudiantes</h3>
                                    <p class="mb-0 text-secondary">Creación, Modificación y Eliminacion</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="AsigEstudiante" asp-action="Index">

                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 60 80">
                                        <path id="Trazado_469" data-name="Trazado 469" d="M40,0V20H60ZM35,20V0H7.5A7.5,7.5,0,0,0,0,7.5v65A7.5,7.5,0,0,0,7.5,80h45A7.5,7.5,0,0,0,60,72.5V25H40.141A5.027,5.027,0,0,1,35,20ZM10,11.25A1.26,1.26,0,0,1,11.25,10h12.5A1.257,1.257,0,0,1,25,11.25v2.5A1.256,1.256,0,0,1,23.75,15H11.25A1.259,1.259,0,0,1,10,13.75Zm0,10A1.257,1.257,0,0,1,11.25,20h12.5A1.254,1.254,0,0,1,25,21.25v2.5A1.254,1.254,0,0,1,23.75,25H11.25A1.257,1.257,0,0,1,10,23.75ZM47.5,60a2.5,2.5,0,1,1,0,5H40.117a6.722,6.722,0,0,1-6.036-3.731,1.746,1.746,0,0,0-3.144-.059l-1.211,2.4A2.641,2.641,0,0,1,27.5,65h-.172a2.475,2.475,0,0,1-2.187-1.719L22.5,55.406l-1.656,4.984A6.759,6.759,0,0,1,14.434,65H12.5a2.5,2.5,0,1,1,0-5h1.934a1.747,1.747,0,0,0,1.659-1.191l2.852-8.536a3.742,3.742,0,0,1,7.109.009l2.169,6.5a7,7,0,0,1,10.312,2.206,1.8,1.8,0,0,0,1.581,1.016H47.5Z" fill="#161e35" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-primary">Asignación</h3>
                                    <p class="mb-0 text-secondary">Asignación de estudiantes a grados</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="AsigCurso" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 60 80">
                                        <path id="Trazado_470" data-name="Trazado 470" d="M7.5,0h45A7.5,7.5,0,0,1,60,7.5V76.2a3.8,3.8,0,0,1-5.984,3.109L30,62.5,5.981,79.313A3.759,3.759,0,0,1,3.8,80,3.8,3.8,0,0,1,0,76.2V7.5A7.5,7.5,0,0,1,7.5,0Z" fill="#161e35" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-primary">Cursos</h3>
                                    <p class="mb-0 text-secondary">Asignación de cursos a catedráticos y grados</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="ImpresionNota" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 70 70">
                                        <path id="Trazado_472" data-name="Trazado 472" d="M61.25,26.25H8.75A8.754,8.754,0,0,0,0,35V48.125A4.376,4.376,0,0,0,4.375,52.5H8.75V65.625A4.376,4.376,0,0,0,13.125,70h43.75a4.376,4.376,0,0,0,4.375-4.375V52.5h4.375A4.376,4.376,0,0,0,70,48.125V35A8.758,8.758,0,0,0,61.25,26.25Zm-8.75,35h-35V48.125h35Zm6.563-20.781a3.281,3.281,0,1,1,3.281-3.281A3.282,3.282,0,0,1,59.063,40.469ZM17.5,8.75H48.877L52.5,12.374v9.5h8.75V10.562a4.374,4.374,0,0,0-1.282-3.093L53.782,1.282A4.372,4.372,0,0,0,50.7,0H13.125A4.376,4.376,0,0,0,8.75,4.375v17.5H17.5Z" fill="#161e35" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-nowrap text-primary">Boletas</h3>
                                    <p class="mb-0 text-secondary">Impresión de boletas de calificaciones</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="Nota" asp-action="Index">

                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path id="Trazado_473" data-name="Trazado 473" d="M43.75,32C47.2,32,50,35.2,50,39.143V74.857C50,78.8,47.2,82,43.75,82H6.25C2.8,82,0,78.8,0,74.857V39.143C0,35.2,2.8,32,6.25,32ZM21.875,57V46.286H6.25V57ZM6.25,64.143V74.857H21.875V64.143ZM28.125,74.857H43.75V64.143H28.125ZM43.75,57V46.286H28.125V57Z" transform="translate(0 -32)" fill="#161e35" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-primary">Notas</h3>
                                    <p class="mb-0 text-secondary">Gestión de calificaciones</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="Asistencia" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 50 60">
                                        <path id="Trazado_460" data-name="Trazado 460" d="M17.857,3.75V7.5H32.143V3.75a3.576,3.576,0,1,1,7.143,0V7.5h5.357A5.5,5.5,0,0,1,50,13.125V18.75H0V13.125A5.5,5.5,0,0,1,5.357,7.5h5.357V3.75A3.662,3.662,0,0,1,14.286,0,3.662,3.662,0,0,1,17.857,3.75ZM0,22.5H50V54.375A5.5,5.5,0,0,1,44.643,60H5.357A5.5,5.5,0,0,1,0,54.375ZM36.618,35.637a2.629,2.629,0,0,0,0-3.879,2.5,2.5,0,0,0-3.694,0L22.321,42.9l-5.346-5.52a2.5,2.5,0,0,0-3.694,0,2.8,2.8,0,0,0,0,3.879l7.143,7.5a2.351,2.351,0,0,0,3.694,0Z" fill="#161e35" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-primary">Asistencias</h3>
                                    <p class="mb-0 text-secondary">Registrar asistencias de los estudiantes</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="CicloEscolar" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 50 60">
                                        <path id="Trazado_474" data-name="Trazado 474" d="M17.857,3.75V7.5H32.143V3.75a3.576,3.576,0,1,1,7.143,0V7.5h5.357A5.5,5.5,0,0,1,50,13.125V18.75H0V13.125A5.5,5.5,0,0,1,5.357,7.5h5.357V3.75A3.662,3.662,0,0,1,14.286,0,3.662,3.662,0,0,1,17.857,3.75ZM0,22.5H50V54.375A5.5,5.5,0,0,1,44.643,60H5.357A5.5,5.5,0,0,1,0,54.375ZM7.143,35.625A1.834,1.834,0,0,0,8.929,37.5H12.5a1.837,1.837,0,0,0,1.786-1.875v-3.75A1.837,1.837,0,0,0,12.5,30H8.929a1.834,1.834,0,0,0-1.786,1.875Zm14.286,0A1.837,1.837,0,0,0,23.214,37.5h3.571a1.837,1.837,0,0,0,1.786-1.875v-3.75A1.837,1.837,0,0,0,26.786,30H23.214a1.837,1.837,0,0,0-1.786,1.875ZM37.5,30a1.837,1.837,0,0,0-1.786,1.875v3.75A1.837,1.837,0,0,0,37.5,37.5h3.571a1.837,1.837,0,0,0,1.786-1.875v-3.75A1.837,1.837,0,0,0,41.071,30ZM7.143,50.625A1.834,1.834,0,0,0,8.929,52.5H12.5a1.837,1.837,0,0,0,1.786-1.875v-3.75A1.837,1.837,0,0,0,12.5,45H8.929a1.834,1.834,0,0,0-1.786,1.875ZM23.214,45a1.837,1.837,0,0,0-1.786,1.875v3.75A1.837,1.837,0,0,0,23.214,52.5h3.571a1.837,1.837,0,0,0,1.786-1.875v-3.75A1.837,1.837,0,0,0,26.786,45Zm12.5,5.625A1.837,1.837,0,0,0,37.5,52.5h3.571a1.837,1.837,0,0,0,1.786-1.875v-3.75A1.837,1.837,0,0,0,41.071,45H37.5a1.837,1.837,0,0,0-1.786,1.875Z" fill="#161e35" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-nowrap text-primary">Ciclo Escolar</h3>
                                    <p class="mb-0 text-secondary">Asignacion de grados y secciones.</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-warning"  role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            @*<div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <a class="btn" asp-area="Secretario" asp-controller="Reportes" asp-action="Index">

                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <svg id="icon_dashboard" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 70 80">
                                        <path id="Unión_8" data-name="Unión 8" d="M56.876,80C54.25,80,52.5,78,52.5,75V30c0-3,1.752-5,4.378-5h8.749C68.248,25,70,27,70,30V75c0,3-1.752,5-4.375,5ZM30.626,80c-2.626,0-4.375-2-4.375-5V5c0-3,1.748-5,4.375-5h8.749C42,0,43.749,2,43.749,5V75c0,3-1.748,5-4.374,5ZM4.375,80C1.752,80,0,78,0,75V55c0-3,1.752-5,4.375-5h8.749c2.626,0,4.379,2,4.379,5V75c0,3-1.752,5-4.379,5Z" fill="#17172b" />
                                    </svg>
                                </div>
                                <div class="col-9 text-right">
                                    <h3 class="text-primary">Reportes</h3>
                                    <p class="mb-0 text-secondary">Información sobre los estudiantes</p>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>*@
        </div>


    </section>
</div>
