
@{
    ViewData["Title"] = "NoEncontrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4 text-primary text-center">
    <div class="row justify-content-center">
        <img src="~/img/404 Page Not Found _Outline.svg" />
    </div>
    <h1>Página No Encontrada</h1>
    <h3>Error 404</h3>
    <h4>El recurso que buscabas no ha sido encontrado 
        <a class="text-secondary" href="javascript: history.go(-1)">Click aquí</a> para regresar.</h4>
</div>

