@{
    ViewData["Title"] = "Política de privacidad";
}


<div class="container-fluid mt-5 bg-white p-4">

    <div class="text-center px-5">
        <h1>@ViewData["Title"]</h1>
        <p class="text-left pt-3">Esta Política de privacidad está destinada a ayudarlo a comprender qué información se recopila en el sistema, por qué se recopila y cómo se utiliza la información.</p>
        <img src="~/img/privacy1.svg" />
    </div>

    <div class="text-justify px-5">
        <hr />
        <h3>Usuarios</h3>
        <p>
            Cuando crea una cuenta en el sistema, proporciona información personal que incluye su correo electrónico y una contraseña. También puede elegir agregar un número de teléfono.
            Esto permite controlar por medio de cuentas de usuario el acceso al sistema para designar permisos y restricciones en la gestión de la información registrada en el sistema.
        </p>
        <img src="~/img/users.svg" />
    </div>
    


    <div class="text-justify px-5">
        <hr />
        <h3>Estudiantes</h3>
        <p>
            La información que se recopila de los estudiantes incluye datos personales como nombres y apellidos, sexo, nombres y apellidos del encargado, número de teléfono del estudiante y del encargado, dirección.
            Esto permite hacer cosas como gestionar las inscripciones, asignaciones, calificaciones y asistencias. También se utiliza esta información para el control de pagos de cuotas y generación de facturas.
        </p>
        <img src="~/img/estudiante.svg" />
    </div>

    <div class="text-justify px-5">
        <hr />
        <h3>Docentes</h3>
        <p>
            La información que se recopila de los catedráticos incluye datos personales como nombres, apellidos, sexo, número de teléfono y profesión.
            Esto permite hacer cosas como gestionar grados, cursos, asignaciones,  calificaciones y asistencias.
        </p>
        <img src="~/img/catedratico.svg" />
    </div>
</div>