@page
@model LockoutModel
@{
    ViewData["Title"] = "Usuario Bloqueado";
}

<header>
    <div class="container-xl mt-5 text-center p-4">
        <img class="img-fluid" src="~/img/lock4.svg" />
        <h1 class="text-primary">@ViewData["Title"]</h1>
        <p class="text-primary">Esta cuenta ha sido bloqueada, inténtalo de nuevo más tarde.</p>
    </div>
    
</header>
