@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}
<link href="~/css/Lion.css" rel="stylesheet" />

<div class="row justify-content-around mt-5">
    <div class="col-6 bg-primary text-white text-center">
        <img class="mt-4 rounded mx-auto d-block" src="~/img/logoIEBCE.png" />
        @*<img src="~/img/Web Developer_Outline.svg" />*@
        <h1 class="display-4">Bienvenido</h1>
        <p class="mb-5 h6">Ingresa tus credenciales para acceder al sistema</p>
    </div>
    <div class="col-md-6 bg-white text-primary p-5 text-center">
        <section>
            <form id="account" method="post">
                
                <h4>Iniciar Sesión</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">Correo Electronico</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Usuario@ejemplo.com"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" placeholder="********"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-light">Iniciar Sesión</button>
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
