@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<div class="mt-5 text-center">
    <h1 class="">@ViewData["Title"]</h1>
    <img src="~/img/lock4.svg" />
    <p>
        Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">Haga clic aquí para ingresar</a>.
    </p>
</div>
