@using SistemaIEBCE.Utilidades


<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaIEBCE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Plugins -->
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!-- Waves -->
    <link href="~/css/Waves.css" rel="stylesheet" />

</head>
<body style="background: #F0F0F7">

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand pl-lg-4" asp-area="Invitado" asp-controller="Home" asp-action="Inicio">
            <div class="row d-flex align-items-center">
                <div class="col-4 "><img style="width: 30px" src="~/img/logoIEBCE.png" /></div>
                <div class="col-8 text-left">IEBCE</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                @if (User.IsInRole(CNT.Director))
                {
                    <li class="nav-item active">
                        <a class="nav-link text-white" asp-area="Director" asp-controller="Menu" asp-action="Index"> <i class="fa-solid fa-bars"></i> Menu </a>
                    </li>
                }

                @if (User.IsInRole(CNT.Secretario))
                {
                    <li class="nav-item active">
                        <a class="nav-link text-white" asp-area="Secretario" asp-controller="Menu" asp-action="Index"> <i class="fa-solid fa-bars"></i> Menu </a>
                    </li>
                }

                @if (User.IsInRole(CNT.Tesorero))
                {
                    <li class="nav-item active">
                        <a class="nav-link text-white" asp-area="Tesorero" asp-controller="Menu" asp-action="Index"> <i class="fa-solid fa-bars"></i> Menu</a>
                    </li>
                }
                <li class="nav-item active">
                    <a class="nav-link text-white" asp-area="Director" asp-controller="Report" asp-action="RankingEstud" asp-route-anio="1"> <i class="fa-solid fa-check-to-slot"></i> Estudiantes</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Plugins  -->
    <script src="~/lib/DataTables/datatables.js"></script>
    <script src="~/lib/fontawesome/js/fontawesome.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
