@model SistemaIEBCE.Models.Estudiante

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var message = TempData["error"] ?? string.Empty;
}

<link href="~/css/CreateForm.css" rel="stylesheet" />

@*create carpeta*@

<div class='box mt-5 container-sm justify-content-center'>
    <div class='box-form container-fluid mx-2'>
        <div class='box-login-tab'></div>
        <div class='box-login-title p-2 font-weight-bold text-primary'>
            <h2> <i class="fa-solid fa-swatchbook"></i> &nbsp;&nbsp;&nbsp; Crear</h2>
        </div>
        <div class='box-login container-fluid'>
            <div class='fieldset-body container-fluid' id='login_form'>
                <form class="my-4  container-fluid" method="post" asp-action="Create">
                    <div class="row px-2 border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12 mt-4">
                            <div class="form-group row mt-3">
                                <label asp-for="NomEstudiante" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <input asp-for="NomEstudiante" class="form-control" />
                                    <span asp-validation-for="NomEstudiante" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label asp-for="ApellEstudiante" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <input asp-for="ApellEstudiante" class="form-control" />
                                    <span asp-validation-for="ApellEstudiante" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label asp-for="Sexo" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <select asp-for="Sexo" class="form-control">
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                    </select>
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label asp-for="Carnet" autocomplete="off" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <input asp-for="Carnet" type="number" class="form-control"/>
                                    <span asp-validation-for="Carnet" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label asp-for="TelEstudiante" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <input asp-for="TelEstudiante" class="form-control"/>
                                    <span asp-validation-for="TelEstudiante" class="text-danger" ></span>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label asp-for="Encargado" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <input asp-for="Encargado" class="form-control" />
                                    <span asp-validation-for="Encargado" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group row mt-3">
                                <label asp-for="TelEncargado" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <input asp-for="TelEncargado" class="form-control" pattern="[0-9]{8}" />
                                    <span asp-validation-for="TelEncargado" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label asp-for="Direccion" class="col-sm-2 col-form-label col-form-label-sm"></label>
                                <div class="col-10">
                                    <input asp-for="Direccion" class="form-control" />
                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                </div>
                            </div>

                            <input asp-for="Estado" value="1" hidden />

                            <div class="form-group row mt-3 row d-flex justify-content-center">
                                <div class="row justify-content-center">
                                    <div class="m-2">
                                        <button type="submit" class="btn btn-dark px-5 form-control">Crear</button>

                                    </div>
                                    <div class="m-2">
                                        <a asp-action="Index" class="btn btn-secondary px-5 form-control">Volver</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
                <input type='submit' id='do_login' value=''/>
    </div>
</div>


@section Scripts{
    
    <script>
        $(document).ready(function () {
                var message = '@message';
                if (message) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'bottom-end',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'error',
                        title: 'Formulario Invalido: ' + message
                    })
                }
            });
    </script>
}