@import 'https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700';

/*--------------------
General Style
---------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*body,
html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: rgba(30,29,31,1);
    background: -moz-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,29,31,1)), color-stop(100%, rgba(223,64,90,1)));
    background: -webkit-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: linear-gradient(135deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
}
*/
/*--------------------
Text
---------------------*/

h2, h3 {
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 20px;
}

h2 {
    color: #747474;
    text-align: center;
}

h3 {
    color: #032942;
    text-align: right;
}

/*--------------------
Login Box
---------------------*/

.box {
    position: relative;
    display: flex;
    z-index: 1000;
    top: 50%;
}

.box-form {
    position: relative;
    z-index: 1;
}

.box-login-tab {
    width: 50%;
    height: 40px;
    background: #161E35;
    position: relative;
    float: left;
    z-index: 1;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
    transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
    -moz-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
    box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
}

.box-login-title {
    width: 35%;
    height: 40px;
    position: absolute;
    float: left;
    z-index: 2;
}

.box-login-title h2{
    font-size: 20px;
    color: #fff;
}

.box-login {
    position: relative;
    top: -4px;
    background: #fdfdfd;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}


.line-wh {
    width: 100%;
    height: 1px;
    top: 0px;
    margin: 12px auto;
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.3);
}

/*--------------------
Form
---------------------*/

a {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

.b {
    height: 24px;
    line-height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.b-form {
    opacity: 0.5;
    margin: 10px 20px;
    float: right;
}


/*.fieldset-body {
    display: table;
}
*/
    .fieldset-body p {
        width: 100%;
        display: inline-table;
        padding: 5px 20px;
        margin-bottom: 2px;
    }

label {
    float: left;
    width: 100%;
    top: 0px;
    color: #032942;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    line-height: 1.5;
}

input[type=submit] {
    position: relative;
    width: 100%;
    height: 48px;
    margin-top: -10px;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #161E35;
    border: 1px #161E35 solid;
    opacity: 1;
    cursor: pointer;
    z-index: 2000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    input[type=submit]:focus {
        outline: none;
    }

p.field span.i {
    width: 24px;
    height: 24px;
    float: right;
    position: relative;
    margin-top: -26px;
    right: 2px;
    z-index: 2;
    display: none;
    -webkit-animation: bounceIn 0.6s linear;
    -moz-animation: bounceIn 0.6s linear;
    -o-animation: bounceIn 0.6s linear;
    animation: bounceIn 0.6s linear;
}

/*--------------------
Transitions
---------------------*/

/*.box-form, .box-info, .b, .b-support, .b-cta,
input[type=submit], p.field span.i {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}*/

/*--------------------
Credits
---------------------*/

/*.icon-credits {
    width: 100%;
    position: absolute;
    bottom: 4px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(255,255,255,0.1);
    text-align: center;
    z-index: -1;
}

    .icon-credits a {
        text-decoration: none;
        color: rgba(255,255,255,0.2);
    }*/
